.editor-tabs TabButton .icon {
	background-size: 22px 22px;
}

.editor-tabs TabButton#building .icon {
	background-image: url(../Scene/home.png);
}

.editor-tabs TabButton#ats .icon {
	background-image: url(../Scene/brush.png);
}

.editor-tabs TabButton#pieces .icon {
	background-image: url(../Scene/bricks.png);
}
