/* Icons */
.gold {
	background-image: url(gold.png);
}

.silver {
	background-image: url(silver.png);
}

.copper {
	background-image: url(copper.png);
}

.credits {
	background-image: url(credits.png);
}

.reagents {
	background-image: url(reagents.png);
}

/* Speech */
ChatBubble {
	text-align: left;
	vertical-align: middle;
	white-space: pre-wrap;
	border-width: 10px 3px 10px 3px;
	min-width: 200px;
	max-width: 400px;
	margin-bottom: 20px;
	padding: 7px 7px 24px 7px;
	background-size: 100% 100%;
	background-image: url(chat-bubble-border.png);
}

ChatBubble .speech-arrow {	
	background-image: url(chat-bubble-arrow.png);
	bottom: 0;
	height: 24px;
	right: 20px;
}

ChatBubble[-it-css-event=show] {
	animation-name: 'ZoomIn,FadeIn';
	animation-duration: 0.25;
}

ChatBubble[-it-css-event=hide] {
	animation-name: 'ZoomOut,FadeOut';
	animation-duration: 0.25;
}

/* Buff Bar (generic) */
BuffBar {
	text-indent: 0;
}

BuffBar Button {
	margin-right: 2px;
}

BuffBar Button .icon {
	background-size: 18px 18px;
}

BuffBar Button[-it-css-event=show] {
	animation-name: 'FadeIn';
	animation-duration: 0.2;
}

BuffBar Button[-it-css-event=hide] {
	animation-name: 'FadeOut';
	animation-duration: 0.2;
}

BuffBar Button[-it-css-event=highlight] {
	animation-name: 'Blink';
	animation-duration: 0.5;
	animation-iteration-count: infinite;
	
}

/* Player Buff Bar */
BuffBar.player-buffs {
	width: 200px;
	height: 32px;
}

BuffBar.player-buffs Button .icon {
	background-size: 32px 32px;
}

/* Character Bar */
AbstractCharacterBar {
	width: 250px;
	height: 76px;
}

AbstractCharacterBar .creature-category {
	width: 82px;
	height: 79px;
}

AbstractCharacterBar .health-bar {
	width: 159px;
	height: 15px;	
}

AbstractCharacterBar .bulb {
}

AbstractCharacterBar .bulb[-it-css-event=show] {
	animation-name: 'FadeIn';
	animation-duration: 0.2;
}

AbstractCharacterBar .bulb[-it-css-event=hide] {
	animation-name: 'FadeOut';
	animation-duration: 0.2;
}

AbstractCharacterBar .will-charge-meter {
	text-indent: -4px;
}

AbstractCharacterBar .might-charge-meter {
	text-indent: -4px;
}

AbstractCharacterBar .will-charge-meter .slot, AbstractCharacterBar .might-charge-meter .slot {
	background-image: none;
	width: 15px;
	height: 15px;
}

AbstractCharacterBar .will-charge-meter .bulb {	
	background-image: url(will-diamond.png);
}

AbstractCharacterBar .might-charge-meter .bulb {	
	background-image: url(might-diamond.png);
}

AbstractCharacterBar .health-bar .bar {
	background-image: url(health-bar.png);
	background-color: transparent;
	border-width: 5px;
}

AbstractCharacterBar .level {
	width: 22px;
	height: 10px;
	vertical-align: middle;
	text-align: center;
	font-family: strong;
}

AbstractCharacterBar .display-name {
	font-size: 10px;
	font-family: mediumOutline;
}

AbstractCharacterBar .health-bar .overlay {
	font-family: defaultOutline;
}

/* Character Bar (extends AbstractCharacterBar) */

CharacterBar {
	background-image: url(character-bar-bg.png);
}

CharacterBar .level {
	left: 29px;
	bottom: 14px;
}

CharacterBar .will-charge-meter {
	left: 16px;
	top: 11px;
}

CharacterBar .might-charge-meter {
	left: 60px;
	top: 11px;
}

CharacterBar .health-bar {
	left: 78px;
	bottom: 25px;
}

CharacterBar .creature-category {
	left: -4px;
	top: 10px;
}

CharacterBar .display-name {
	left: 78px;
	top: 0px;
}

CharacterBar .will-meter {	
	left: 78px;
	bottom: 8px;
	text-indent: 2px;
}

CharacterBar .might-meter {
	left: 78px;
	top: 23px;
	text-indent: 2px;
}

CharacterBar .will-meter .slot, CharacterBar .might-meter .slot {	
	background-image: url(charge-slot.png);
}

CharacterBar .will-meter .bulb {	
	margin: 4px 4px 4px 4px;
	background-image: url(will-charge.png);
	background-size: 4px auto;
}

CharacterBar .might-meter .bulb {	
	margin: 4px 4px 4px 4px;
	background-size: 4px auto;
	background-image: url(might-charge.png);
}

/* Target Bar (extends AbstractCharacterBar) */

TargetBar {
	background-image: url(target-bar-bg.png);
}

TargetBar .health-bar {
	left: 9px;
	bottom: 28px;
}

TargetBar .display-name {
	/* ; 
	white-space: nowrap;
	*/
	max-width: 150px;
	text-align: right;
	overflow: visible;
	top: 0;
	right: 80px;
}

TargetBar .level {
	right: 32px;
	bottom: 14px;
} 

TargetBar .creature-category {
	right: 5px;
	top: 10px;
}

TargetBar .will-charge-meter {
	right: 61px;
	top: 11px;
}

TargetBar .might-charge-meter {
	right: 13px;
	top: 11px;
}

TargetBar BuffBar {
	right: 35px;
	bottom: 0px;
	width: 157px;
	height: 18px;
}

/* Party Member Bar */
PartyMemberBar {
	border-width: 5px;
	padding: 2px;
	background-image: url(bordered-panel-trans-80.png);
	background-size: 100% 100%;
	width: 165px;
	height: 58px;
}

PartyMemberBar .display-name {
	left: 5px;
	top: 7px;
	max-width: 145px;
	overflow: hidden;
	color: #ffee84;
}

PartyMemberBar .status {
	right: 13px;
	top: 7px;
	width: 12px;
	height: 12px;
}

PartyMemberBar.status-leader .status {
	background-image: url(rarity-silver.png);
	background-size: 100% 100%;
}

PartyMemberBar.status-member .status {
	background-image: url(rarity-bronze.png);
	background-size: 100% 100%;
}

PartyMemberBar .health-bar {
	left: 5px;
	top: 20px;
	width: 121px;
	height: 15px;	
}

PartyMemberBar .health-bar .bar {
	background-image: url(health-bar.png);
	background-color: transparent;
	border-width: 5px;
}

PartyMemberBar BuffBar {
	left: 5px;
	top: 40px;
	text-indent: 0;
	width: 157px;
	height: 18px;
	margin-right: 5px;
}

/* The main game UI toolbar */
AbstractToolArea {
	background-image: url(main-toolbar-lower.png);
	width: 768px;
	height: 82px;
}

AbstractToolArea .graphic {
	background-image: url(main-toolbar-bg.png);
	bottom: 0;
}

AbstractToolArea .options .tool-overlay:HOVER {
	background-image: url(main-toolbar-button-glow.png);
}

.blade {
	width: 52px;
	height: 72px;
	left: 347px;
	bottom: 8px;
}

.blade-gold {
	background-image: url(heroism-blade-gold.png);
}

.blade-bronze {
	background-image: url(heroism-blade-bronze.png);
}

.blade-copper {
	background-image: url(heroism-blade-copper.png);
}

.blade-iron {
	background-image: url(heroism-blade-iron.png);
}

.blade-steel {
	background-image: url(heroism-blade-steel.png);
}

AbstractToolArea Panel {
	border: none;
}

AbstractToolArea ToolPanel, AbstractToolArea .options ToolDroppable, AbstractToolArea Panel.options, AbstractToolArea .options .tool-overlay {
	background-image: none;
}

AbstractToolArea .options .tool-overlay:HOVER {
	background-image: url(main-toolbar-button-glow.png);
	opacity: 75%;
}

AbstractToolArea .xp-bar {
	width: 640px;
	height: 7px;
	left: 62px;
	bottom: 0px;
	color: white;
	font-size: 4pt;
	min-height: 7px;
}

AbstractToolArea .xp-bar .overlay {
	font-family: tiny;
	font-size: 4px;
}

AbstractToolArea .xp-bar .bar {
	background-image: url(xp-bar.png);
	background-size: 100% 100%;
}

AbstractToolArea .luck-bar {
	/* background-image: url(main-toolbar-xp.png); */
	width: 22px;
	height: 46px;
	min-height: 0px;
	left: 361px;
	bottom: 18px;
}

AbstractToolArea .luck-red {
	background-color: #e02626;
}

AbstractToolArea .luck-steel {
	background-color: #bab4b0;
}

AbstractToolArea .luck-iron {
	background-color: #8c8c8c;
}

AbstractToolArea .luck-gold {
	background-color: #cc8c49;
}

AbstractToolArea .luck-copper {
	background-color: #9d2e1e;
}

AbstractToolArea .luck-bronze {
	background-color: #cc8c49;
}

AbstractToolArea .luck-bar .bar {
	/* background-image: url(main-toolbar-xp.png); */
	width: 22px;
	height: 46px;
	min-height: 0px;
	left: 361px;
	bottom: 18px;
}

AbstractToolArea .toggler {
	background-image: url(main-toolbar-toggler.png);
	width: 227px;
	height: 29px;
	left: 416px;
	bottom: 48px;
	text-indent: 10px;
	padding-left: 7px;
	padding-top: 4px;
	z-index: -999;
}

AbstractToolArea .toggler ToggleButton {
	background-image: url(quickbar-button-l.png);
	font-family: defaultOutline;
	border-width: 4px;
	width: 22px;
	height: 19px;
}

AbstractToolArea .toggler ToggleButton:HOVER {
	background-image: url(quickbar-button-u.png);
}

AbstractToolArea .toggler ToggleButton:LINK {
	background-image: url(quickbar-button-h.png);
}

AbstractToolArea .toggler[-it-css-event=show] {
	animation-name: 'SlideIn';
	animation-direction: -it-bottom;
	animation-timing-function: -it-bounce;
	animation-duration: 0.3;
}

AbstractToolArea .toggler[-it-css-event=hide] {
	animation-name: 'SlideOut';
	animation-direction: -it-bottom;
	animation-duration: 0.3;
}

AbstractToolArea .toggler-revealer {
	left: 56px;
	bottom: 14px;
	width: 28px;
	height: 28px;
	background-image: url(gem.png);
}

AbstractToolArea .toggler-revealer:HOVER {
	background-image: url(gem-h.png);
}

AbstractToolArea .hover-area-coin:HOVER, AbstractToolArea .hover-area-credits:HOVER, AbstractToolArea .hover-area-reagents:HOVER {
}

AbstractToolArea .credit-shop {
	width: 52px;
	height: 32px;
	left: 660px;
	bottom: 10px;
	background-image: url(credit-shop.png);
}

AbstractToolArea .credit-shop:HOVER {
	background-image: url(credit-shop-h.png);
}

#player-coin {
	left: 712px;
	bottom: 8px;
	width: 15px;
	height: 15px;
	background-image: url(copper.png);
}

#player-credits {
	left: 711px;
	bottom: 33px;
	width: 15px;
	height: 16px;
	background-image: url(credits.png);
}

#player-reagents {
	left: 728px;
	bottom: 21px;
	width: 11px;
	height: 17px;
	background-image: url(reagents.png);
}

#player-luck {
	left: 365px;
	bottom: 9px;
	width: 16px;
	height: 14px;
	background-image: url(luck.png);
}

.main-toolbar .options {
	left: 401px;
	bottom: 8px;
}

.main-toolbar .primary-abilities {
	left: 86px;
	bottom: 7px;
}

.main-toolbar .bar-overlay {
}

.build-toolbar {
	background-image: url(build-toolbar-lower.png);
}

.build-toolbar .bar-overlay {
	background-image: none;
	background-size: auto auto;
}

/* Quick bar panels */
ToolPanel[-it-css-event=hide] {
	animation-name: 'FadeOut';
	animation-duration: 0.25;
} 

ToolPanel[-it-css-event=show] {
	animation-name: 'FadeIn';
	animation-duration: 0.25;
} 

/* World Map */
#WorldMap[-it-css-event=show] {
	volume: 100%;
	play-during: url(map-open.ogg);
	animation-name: 'SlideIn';
	animation-direction: -it-top;
	animation-timing-function: -it-bounce;
	animation-duration: 0.3;
}

#WorldMap[-it-css-event=hide] {
	play-during: url(map-close.ogg);
	animation-name: 'SlideOut';
	animation-direction: -it-top;
	animation-timing-function: -it-bounce;
	animation-duration: 0.3;
}

#WorldMap .map {
	width: 784px;
	height: 541px;
}

LegendPanel CheckBox {
	padding-left: 16px;
}

LegendPanel CheckBox .icon {
	layout-data: 'Right';
}

/* Load Screen */
.default-load-screen {
	background-size: 100% 100%;
	background-color: white;
	background-image: url(default-load-bg.jpg);
}

#loading-tips {
	min-height: 60px;
}

#loading-announcements {
	min-height: 96px;
}

#loading-progress {
}

/* Intro */
#intro-layer .logo {
	background-image: url(logo.png);
	background-size: auto auto;
}

#intro-layer .banner {
	background-image: url(banner.png);
	background-size: auto auto;
}

#intro-layer .banner[-it-css-event=show] {
	animation-name: 'FadeIn';
	animation-duration: 0.3;
}

#intro-background {
	background-image: url(login-bg.jpg);
	background-size: auto auto;
}

.character-tabs TabButton {
	animation-name: none;
	background-image: url(tab-eq-u.png);
	play-during: auto;
	border-width: 3px 14px 3px 7px;
	padding: 8px 12px 8px 8px;
	margin-bottom: 1px;
}

.character-tabs TabButton .icon {
	
}

.character-tabs TabButton:ACTIVE, .character-tabs TabButton:HOVER {
	background-image: url(tab-eq-d.png);
	animation-name: none;
	play-during: auto;
	margin-bottom: 0;
}

#login-window {
	min-width: 660px;
}

/* Inventory */
InventoryWindow {
	
}

InventoryWindow .bags {
	left: 0px;
	top: -3px;
	border-width: 1px 27px 1px 27px;
	background-image: url(inventory-bottom.png);
}

/* Equipment */
#equip-panel {
	border-width: 0;
	background-image: url(equipment-slots.png);
	background-size: auto auto;
}

TabButton.equip-tab .icon {
	background-image: url(icon-equipment.png);
}

.chest {
	left: 52px;
	top: 90px;
}

.legs {
	left: 52px;
	top: 169px;
}

.feet {
	left: 52px;
	top: 208px;
}

.amulet {
	left: 11px;
	top: 49px;
}

.arms {
	left: 11px;
	top: 109px;
}

.ring-1 {
	left: 11px;
	top: 185px;
}

.head {
	left: 52px;
	top: 10px;
}

.neck {
	left: 52px;
	top: 49px;
}

.shoulders {
	left: 92px;
	top: 74px;
}

.waist {
	left: 52px;
	top: 129px;
}

.hands {
	left: 92px;
	top: 145px;
}

.ring-2 {
	left: 92px;
	top: 185px;
}

.weapon-1 {
	left: 11px;
	top: 246px;
}

.weapon-2 {
	left: 52px;
	top: 246px;
}

.weapon-3 {
	left: 93px;
	top: 246px;
}

/* Charms */
#charm-panel {
	border-width: 7px;
	background-image: url(charms.png);
	background-size: auto auto;
}

#charms-panel {
	border-width: 0;
}

TabButton.charms-tab .icon {
	background-image: url(icon-charms.png);
}

.red-charm {
	left: 53px;
	top: 40px;
}

.orange-charm {
	left: 23px;
	top: 104px;
}

.purple-charm {
	left: 83px;
	top: 104px;
}

.yellow-charm {
	left: 15px;
	top: 172px;
}

.blue-charm {
	left: 91px;
	top: 172px;
}

.green-charm {
	left: 53px;
	top: 233px;
}

/* Mods */
#mods-panel {
	border-width: 0;
}

TabButton.mods-tab .icon {
	background-image: url(icon-mods.png);
}

/* DnD */
SlotButton, InventoryItemDroppable {
	border-width: 2px 3px 2px 2px;
	width: 36px;
	height: 36px;
	background-image: url(/Icons/Icon-32-Icon_Plug1.png);
}

EquipmentDroppable, ContainerDraggable, ContainerDroppable {
	width: 32px;
	height: 32px;
}

ContainerDroppable {
	background-image: url(/Icons/Icon-64-Equip-Storage.png);
}

/** Lobby **/
.lobby-frame {
	width: 360px;
	height: 100%;
	margin: 20px;
}

.lobby-layer {
}

.lobby-layer[-it-css-event=show] {
	animation-name: 'SlideIn';
	animation-duration: 0.75;
	animation-timing-function: -it-bounce;
}

.lobby-layer[-it-css-event=hide] {
	animation-name: 'SlideOut';
	animation-duration: 0.75;
	animation-timing-function: -it-bounce;
}

/* Character selection */
.lobby-layer #play {
	right: 20px;
	bottom: 20px;
}

.lobby-layer #logout {
	left: 380px;
	bottom: 20px;
}

#play:ACTIVE {
	play-during: url(../Scene/enter-game.ogg);
	volume: 100%;	
}

.character-select-area ToggleButton:ACTIVE {
	play-during: url(../Scene/tab-target.ogg);
}

/* Character creation */

Meter.creation-progress {	
	text-indent: 3px;
	padding: 8px 18px 5px 18px;
	background-image: url(cc-progress.png);
	background-size: auto auto;
}

Meter.creation-progress .bulb {	
	border-width: 3px 12px 3px 12px;	
	padding: 3px 12px 3px 12px;
	background-size: auto auto;
	background-image: url(cc-progress-bulb.png);
}

Meter.creation-progress Label {
	font-family: defaultOutline;
	text-align: center;
}

.character-attribute .overlay:HOVER {	
	background-image: url(/Icons/Icon-Selection.png);
}

.character-attribute {
	width: 42px;
	height: 42px;
}

.races .overlay:ACTIVE, .bodys .overlay:ACTIVE, .heads .overlay:ACTIVE {
	background-image: url(/Icons/Icon-Selection.png);	
	background-size: auto auto;
}

.gender {	
	background-color: transparent;
	background-image: url(/Icons/Icon-32-BG-Grey.png);
}

#gender-male:ACTIVE {
	background-image: url(/Icons/Icon-32-BG-Aqua.png);	
}

#gender-female:ACTIVE {
	background-image: url(/Icons/Icon-32-BG-Pink.png);	
}

#gender-male .icon {
	background-image: url(/Icons/Icon-Male.png);
}

#gender-female .icon {
	background-image: url(/Icons/Icon-Female.png);
}

/* Character classes */
.class-text {
	padding: 10px;
	border-width: 1px;
	background-image: url(../Containers/panel-thin.png);
	background-size: 100% 100%;
}

#classes .icon {
	background-size: 56px 56px;
}

#classes .overlay {
	background-size: 100% 100%;
}

#classes .overlay:HOVER, #classes .overlay:ACTIVE {	
	background-image: url(class-select.png);
}

#classes .knight .icon {
	background-image: url(class-knight.png);
	
}

#classes .mage .icon {
	background-image: url(class-mage.png);
	
}

#classes .rogue .icon {
	background-image: url(class-rogue.png);
	
}

#classes .druid .icon {
	background-image: url(class-druid.png);
}

/* Name / Clothing */

.armour-group-legs .overlay:ACTIVE, .armour-group-chest .overlay:ACTIVE, .armour-group-feet .overlay:ACTIVE {
	background-image: url(/Icons/Icon-Selection.png);	
	background-size: auto auto;
}

/* Audio Popup */

AudioPopup[-it-css-event=show] {
	animation-name: 'SlideIn';
	animation-duration: 0.3;
}

AudioPopup[-it-css-event=hide] {
	animation-name: 'SlideOut';
	animation-duration: 0.3;
}

/* Abilities */

#ability-tab-knight .icon {
	background-image: url(icon-ability-tab-knight.png);
}

#ability-tab-mage .icon {
	background-image: url(icon-ability-tab-mage.png);
}

#ability-tab-rogue .icon {
	background-image: url(icon-ability-tab-rogue.png);
}

#ability-tab-druid .icon {
	background-image: url(icon-ability-tab-druid.png);
}

#ability-tab-weapon .icon {
	background-image: url(icon-ability-tab-weapon.png);
}

#ability-tab-restoration .icon {
	background-image: url(icon-ability-tab-restoration.png);
}

#ability-tab-travel .icon {
	background-image: url(icon-ability-tab-travel.png);
}

#ability-tab-protection .icon {
	background-image: url(icon-ability-tab-protection.png);
}

#abilities #improvement Label {
	text-align: center;
}

#abilities #improvement Meter {
	background-image: url(ability-impbar.png);
	padding: 5px 14px 0 13px;
	text-indent: 8px;
}

#abilities #improvement Meter .slot {
	width: 14px;
	height: 14px;
}

#abilitys #main {
	padding: 4px;
}

#abilities #improvement Meter .slot .bulb {
	background-image: url(ability-impbar-white.png);
}

#abilities #improvement Meter .slot Label {
	text-align: center;
	padding: 0 0 1px 2px;
	color: black;
}

#abilities #description {
	vertical-align: top;
	white-space: pre-wrap;
}

#abilities .core-knight {	
	background-image: url(class-red-k.png);
}

#abilities .core-rogue {	
	background-image: url(class-red-r.png);
}

#abilities .core-mage {	
	background-image: url(class-red-m.png);
}

#abilities .core-druid {	
	background-image: url(class-red-d.png);
}

#abilities .core-knight:ACTIVE {	
	background-image: url(class-green-k.png);
}

#abilities .core-rogue:ACTIVE {	
	background-image: url(class-green-r.png);
}

#abilities .core-mage:ACTIVE {	
	background-image: url(class-green-m.png);
}

#abilities .core-druid:ACTIVE {	
	background-image: url(class-green-d.png);
}

#abilities PushButton.purchase, #abilities PushButton.purchase:HOVER {
	font-family: mediumOutline;
	font-size: 16px;
	-it-animation-image: none;
	vertical-align: top;
	padding: 23px 25px 10px 25px;
	border-width: 10px 25px 10px 25px;
	background-image: url(ability-button.png);
	background-size: 100% auto;
}

#abilities PushButton.purchase .overlay:HOVER {
	border-width: 10px 25px 10px 25px;
	background-image: url(ability-button-selection.png);
	background-size: 100% 100%;
}

AbilityBox {
	background-image: url(ability-holder-silver.png);
	overflow: visible;
}  

AbilityBox Button {
	left: 7px;
	top: 7px;
}

AbilityBox Meter {
	left: -4px;
	bottom: 4px;
	text-indent: 1px;
}

AbilityBox Meter .bulb {
	left: 0;
	top: 0;
	background-image: url(ability-holder-white-pip.png);
}
