
/* Character selection */
#play:ACTIVE {
	play-during: url(../Scene/enter-game.ogg);
	volume: 100%;	
}

.character-select-area ToggleButton:ACTIVE {
	play-during: url(../Scene/tab-target.ogg);
}

/* Character classes */
.class-text {
	padding: 10px;
	border-width: 1px;
	background-image: url(../Containers/panel-thin.png);
	background-size: 100% 100%;
}