/* Common theme CSS for Icetone default controls */


/* Logical styles */
.default-bold, .default-highlight {	
	font-family: strong;
	font-size: 8pt;
}

.default-highlight {		
	color: green;
}

/* Reset styles */
* {
	background-repeat: no-repeat;
	background-color: transparent; 
	background-size: auto;
	width: auto;
	height: auto;
	animation-name: auto;
	opacity: 100%;
	cursor: default;
	-it-atlas: auto;
	/* font-family: inherit;
	font-size: inherit; */
	font-family: small;
	font-size: 8pt;
	color: inherit;
	overflow: visible;
}

*[disabled=true] {
	opacity: 30%;
}

.icon {
	text-align: center;
	background-size: auto;
	background-position: center center;
}
