@font-face {
	font-family: default;
	src: url(Fonts/liberation.fnt);
}

@font-face {
	font-family: defaultBold;
	src: url(Fonts/liberation-bold.fnt);
}

/* Logical styles */
.default-bold, .default-highlight {		
	font-family: defaultBold;
}

.default-highlight {		
	color: #ccc;
}

/* Reset styles */
* {
	background-repeat: no-repeat;
	background-color: transparent; 
	background-size: 100% 100%;
	width: auto;
	height: auto;
	animation-name: auto;
	opacity: 100%;
	cursor: default;
	-it-atlas: auto;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

Screen {
	font-family: default;
	font-size: 16px;
	color: #ddd;
}

*[disabled=true] {
	opacity: 30%;
}

#cursor-pointer {
	-it-layout-data: 'Styles/Default/Cursors/Pointer.cur';
	left: 3px;
	top: 29px;
}

#cursor-hand {
	-it-layout-data: 'Styles/Default/Cursors/Hand.cur';
	left: 3px;
	top: 29px;
}

#cursor-text {
	-it-layout-data: 'Styles/Default/Cursors/Text.cur';
	left: 16px;
	top: 16px;
}

#cursor-resize-ew {
	-it-layout-data: 'Styles/Default/Cursors/ResizeEW.cur';
	left: 16px;
	top: 16px;
}

#cursor-resize-ns {
	-it-layout-data: 'Styles/Default/Cursors/ResizeNS.cur';
	left: 16px;
	top: 16px;
}

#cursor-resize-cnw {
	-it-layout-data: 'Styles/Default/Cursors/ResizeCNW.cur';
	left: 16px;
	top: 16px;
}

#cursor-resize-cne {
	-it-layout-data: 'Styles/Default/Cursors/ResizeCNE.cur';
	left: 16px;
	top: 16px;
}

/* Label */

Label {
	overflow: hidden;
}

/* Button (also applies to all extensions to button such as checkbox, scrollbar etc) */

Button {
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	overflow: hidden;
}

Button .icon {
	z-index: 2;
}

Button .overlay {
	z-index: 1;
	background-image: none;
}

/* PushButton (a plain button) */

PushButton, ToggleButton, TabButton, MenuBar > Button {
	padding: 8px;
	background-color: #aaa;
	color: #111;
}

PushButton:FOCUS, ToggleButton:FOCUS, TabButton:FOCUS, MenuBar > Button:FOCUS {
	background-color: #bbb;
}

PushButton:HOVER, ToggleButton:HOVER, TabButton:HOVER, MenuBar > Button:HOVER {
	background-color: #ccc;
}

PushButton:ACTIVE, ToggleButton:ACTIVE, TabButton:ACTIVE, MenuBar > Button:ACTIVE {
	background-color: #ddd;
}

/** CheckBox */

CheckBox {
	background-image: none;
	background-color: transparent;
	border-width: 0;
	text-align: left;
	text-indent: 4px;
}

CheckBox .icon {
	background-color: #aaa;
	-it-text: ' ';
	text-align: center;
	width: 16px;
	height: 16px;
	color: #888;
}

CheckBox .icon:ACTIVE,  CheckBox .icon:FOCUS {	
	background-color: #ddd;
}

CheckBox .icon:LINK {	
	background-color: white;
	-it-text: 'X';
}

CheckBox .icon:HOVER {
	background-color: #eee;
}

/** RadioButton */

RadioButton {
	background-image: none;
	background-color: transparent;
	border-width: 0;
	text-align: left;
	text-indent: 4px;
}

RadioButton .icon {
	background-color: #aaa;
	-it-text: ' ';
	width: 16px;
	height: 16px;
	color: #ccc;
}

RadioButton .icon:ACTIVE,  CheckBox .icon:FOCUS {	
	background-color: #ddd;
}

RadioButton .icon:LINK {	
	background-color: white;
	-it-text: 'X';
}

RadioButton .icon:HOVER {
	background-color: #eee;
}

/* Plain text field */

TextField {
	background-color: #aaa;
	padding: 4px;
	border-width: 4px;
	cursor: text;
	color: #111;
} 

TextField:FOCUS {
	background-color: #fff;
}


/* Panel */

Panel {
	background-color: #333;
	padding: 8px;
}

/* Window **/

Window {
	-it-clip-padding: 6px;
}

Window .dragbar {
	padding: 8px;
	background-color: #555;
	font-family: defaultBold;
}

Window .content {
	background-color: #333;
}


/* Combo */

ComboBox .menu-button .icon {
	-it-text: 'v';
	width: 16px;
	height: 16px;
}

ComboMenu {
	background-color: #333;
}

/* Dial */
Dial {
}

Dial .radial[-it-css-event=dial] {
	animation-name: 'RotateTo';
	animation-duration: .15;
	animation-timing-function: -it-bounce;
} 

Dial .radial {
	padding: 0;
	height: 128px;
	width: 128px;
	background-size: 100% 100%;
	-it-min-filter: -it-bilinear-nearest-mip-map;
	-it-mag-filter: -it-bilinear;
	background-image: url(Dial.png);
}

/* Spinners */

Spinner .icon {
	width: 16px;
	height: 16px;
}

Spinner Button {
	padding: 8px;
	background-color: #aaa;
	color: #111;
}

Spinner Button:FOCUS {
	background-color: #bbb;
}

Spinner Button:HOVER {
	background-color: #ccc;
}

HorizontalSpinner .increase .icon {
	-it-text: '>';
}

HorizontalSpinner .decrease .icon {
	-it-text: '<';
}
VerticalSpinner .increase .icon {
	-it-text: '^';
}

VerticalSpinner .decrease .icon {
	-it-text: 'v';	
}


/* Indicator */

Indicator {
	text-align: center;
	background-color: #aaa;
}

IndicatorHorizontal {
	width: 100px;
	height: 20px;
}

IndicatorVertical {
	width: 20px;
	height: 100px;
}

Indicator .overlay {
	text-align: center;
	color: black;
}

Indicator .bar {
	background-color: #ddd;
}

IndicatorVertical .overlay {
	-it-text-rotation: 90;
}

/* Tooltip */

ToolTip {
	padding: 6px;
	background-color: #222;
	white-space: pre;
}

/* Table */
Table {
	padding: 2px;
	cursor: pointer;
}

TableCell {
	overflow: hidden;	
	padding: 4px;	
}

TableRow:ACTIVE {
	background-color: white;
	color: black !important;
}

TableCell {
	overflow: hidden;	
	padding: 2px 4px;	
}

TableCell:ACTIVE {
	background-color: white;
	color: black !important;
}

Table .expander {
	padding: 0;
	background-image: none;
	background-color: transparent;
}

Table .expanded .icon {
	-it-text: 'v';	
}

Table .collapsed .icon {
	-it-text: '>';		
}

Table .columns .ascending .icon {
	-it-text: '^';	
	text-align: right;
}

Table .columns .descending .icon {
	-it-text: 'v';		
	text-align: right;
}

Table .columns .no-sort .icon {
	background-image: none;	
}

/* Slider */
Slider {
	text-indent: 0px;
	overflow: visible;
}

Slider .thumb .overlay {
	background-image: none;
}

HorizontalSlider { 
	padding: 0;
	margin: 0 10px 0 7px;
	height: 13px;
	background-color: grey;
	background-size: 100% auto;
}

HorizontalSlider .thumb {
	width: 8px;
	height: 8px;
	background-size: auto auto;
	background-color: white;
}

VerticalSlider { 
	padding: 0;
	width: 13px;
	margin: 5px 0 8px 0;
	background-size: auto 100%;
	background-color: grey;
}

VerticalSlider .thumb {
	width: 8px;
	height: 8px;
	background-size: auto auto;
	background-color: white;
}


/* Slide Tray (for tabs) */

SlideTray {
}

SlideTray .tray > Button {
	margin-right: 4px;
}

SlideTray .tray {
	overflow: hidden;
}

SlideTray .slide {
	background-image: none;
}

SlideTray .slide-next, SlideTray .slide-previous {
	margin: 0 2px;
	width: 14px;
	height: 14px;
}

/* Tabs **/
TabControl {
	text-indent: 1px;
	background-color: transparent;
}

TabControl SlideTray {
	padding-top: 2px;
}

/* MenuBar */
MenuBar > Button {
	padding: 2px;
	background-color: transparent;
	margin: 2px;
	color: #ccc;
}

/* Various */

SlideTray.toolbar {
	background-color: black;
	overflow: hidden;
}

SlideTray.toolbar Button {
	margin: 4px 8px 4px 0;
}

/* ScrollPanel */

ScrollPanel {
	text-indent: 2px;
}

ScrollPanelBounds {
	-it-overflow-x: auto;
	-it-overflow-y: auto;
}

ScrollPanel .scrollable-area {
}

ScrollBar .track {
	background-color: #aaa;
}

/* Scrollbars **/

VerticalScrollBar .track {
	width: 16px;
}

ScrollBar .thumb, ScrollBar .thumb:HOVER {
	background-color: #bbb;
}

ScrollBar .thumb:ACTIVE {
	background-color: white;
}

VerticalScrollBar .thumb, VerticalScrollBar .thumb:HOVER, VerticalScrollBar .thumb:ACTIVE {
	width: 16px;
}

VerticalScrollBar .increase .icon {
	-it-text: '^';
}

VerticalScrollBar .decrease .icon {
	-it-text: 'v';
}

HorizontalScrollBar .track {
	height: 16px;
}

HorizontalScrollBar .thumb, HorizontalScrollBar .thumb:HOVER, HorizontalScrollBar .thumb:ACTIVE {
	height: 16px;
}

HorizontalScrollBar .increase .icon {
	-it-text: '>';
}

HorizontalScrollBar .decrease .icon {
	-it-text: '<';
}

/* OSRViewPort */

OSRViewPort {
	background-color: black;
}

/* Split Panel */

SplitPanel {
	border-width: 1px;
	text-indent: 1px;
}

SplitPanel .expander {
	color: black;
	padding-left: 6px;
	background-color: #888;
	font-size: 12px;
	width: 12px;
	height: 12px;
}

SplitPanel .divider {
	background-color: #555;
}

SplitPanel .divider:HOVER {
	background-color: white;
}

HorizontalSplitPanel .divider  {
	width: 4px;
	cursor: ew-resize;
}

VerticalSplitPanel .divider {
	height: 4px;
	cursor:  ns-resize;
}

HorizontalSplitPanel .expander {
}

HorizontalSplitPanel .expand-left-or-top .icon {
	-it-text: '<';
}	

HorizontalSplitPanel .expand-right-or-bottom .icon {
	-it-text: '>';
}

VerticalSplitPanel .expand-left-or-top .icon {
	-it-text: '^';
}	

VerticalSplitPanel .expand-right-or-bottom .icon {
	-it-text: 'v';
}

/* Panel */
Panel  {
	background-color: #222;	
}

/* Frame */
Frame .dragbar {
	background-color: #222;
	height: 22px;	
}

Frame .content {
	background-color: #333;
	padding: 4px 8px 8px 8px;
}

Frame .icon {
	height: 16px;
	width: 16px;
	font-size: 16px;
}

Frame .minimize .icon {
	-it-text: '-';
}

Frame .maximize .icon {
	-it-text: '^';
}

Frame .close .icon {
	-it-text: 'X';
}

Frame .frame-menu .icon {
	-it-text: 'V';
}

/* Popup Messages */
PopupMessage {
	padding: 8px;
	background-color: #fff;
	color: black;
	white-space: pre;
	width: 50%;
	left: 50%;
	top: 33%;
	opacity: 90%;
	margin-bottom: 5px;
}

PopupMessage .popup-message-text {
	font-family: defaultBold;
	text-align: center;
	font-size: 16pt;
}

PopupMessage .popup-message-action {
	font-family: fontawesome-32;
	font-size: 32pt;
}

PopupMessage.popup-message-information .popup-message-action .icon {
	color: blue;
	-it-text: '\f05a';
}

PopupMessage.popup-message-error .popup-message-action .icon {
	color: red;
	-it-text: '\f06a';
}

PopupMessage.popup-message-warning .popup-message-action .icon {
	color: yellow;
	-it-text: '\f071';
}

PopupMessage.popup-message-success .popup-message-action .icon {
	color: green;
	-it-text: '\f058';
}

/* Select list */

SelectList {
}

SelectList .scrollable-area {
}

SelectList .item {
	color: #fff;
	padding: 2px 16px;
}

SelectList .item:HOVER {
	color: white;
	background-color: #888;
}

SelectList .item:LINK {
	background-color: #444;
}

SelectList .item:LINK:HOVER {
	background-color: #666;	
}
